<footer>
  <!-- <div class="footer-padding"></div> -->
  <div class="footer">
    <p> Made by Michael Agung ☃, photos and messages credit to Matthew's family and friends</p>
  </div>
</footer>
</html>
