<%- include("partials/header") -%>

<div class="main">
  <h1 style="height:20vh;padding:0"> Uh oh... </h1>
  <h2 style="height:30vh;padding:0">Subscription failed! Invalid email address <br><a href="/subscribe" style="padding-top:-800px">Try again</a></h2>
  <div style="text-align:center;height:38.7vh;font-size:3vw">
    <a href="/subscribe">Click here to try again</a>
  </div>
</div>
<%- include("partials/footer") -%>
