<%- include("partials/header") -%>

<div class="main">
  <h1 style="height:20vh;padding:0"> Thank you! </h1>
  <h2 style="height:67.8vh;padding:0">The images have been uploaded!</h2>
</div>
<%- include("partials/footer") -%>
