<%- include("partials/header") -%>

<div class="main">
  <h1 style="height:20vh;padding:0;padding-top:30px"> Oops... </h1>
  <h2 style="height:67.8vh;padding:0">Unfortunately, the "<%= pageName %>" is still a work-in-progress, please come back later!</h2>
</div>
<%- include("partials/footer") -%>
