body {
  padding: 60px;
  text-align: center;
  display: inline-block;
  margin:0;
  width:100%;
  padding:0;
}

html {
  margin:0;
  padding:0;
}

.header
{
  background-color: #282C34;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  display: inline-block;
  width:100%;
  margin:0;
}

h1 {
  font-family: "Dancing Script",sans-serif;
  font-weight: 700;
  font-size: 6vw;
  color: #dbf6e9;
}

h2 {
  font-family: "Dancing Script",sans-serif;
  /* font-weight: 400;
  font-size: 3vw; */
  color: #282C34;
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: #dbf6e9;
}

.col {
  flex: 24.5px;
  max-width: 24.5%;
  padding: 0 4px;
  margin:0 10px;
}

.toBeUploaded img {
  width: 70vw;
  padding-top: 40px;
  padding-bottom: 20px;
}

.col img {
  margin:10px 0;
  vertical-align: middle;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
}

form .col{
  display: inline-block;
  justify-content: center;
  width: 400px;
  padding: 0;
  max-width: 80%;
}

label {
  padding-top: 30px;
  padding-bottom: 10px;
}

#image{
  display: inline-block;
  justify-content: center;
  width: 400px;
  padding: 0;
  max-width: 80%;
}

.btn-default{
  background-color: : #282C34;
  color: #282C34;
  border-color: #282C34;
}
.btn-default:hover,.btn-default:focus,.btn-default:active{
  background-color: : #282C34;
  color: #282C34;
  border-color: #282C34;
}

@media screen and (max-width: 1400px) {
  .col {
    flex: 47%;
    max-width: 47%;
  }
  /* .textBoxLandscape p{
    font-size: 2.5vw;
  }
  .textBoxPotrait p{
    font-size: 2.5vw;
  } */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col {
    flex: 98%;
    max-width: 98%;
  }
  /* .textBoxLandscape p{
    font-size: 5vw;
  }
  .textBoxPotrait p{
    font-size: 5vw;
  } */
}


.form-control {
  display:flex;
  justify-content: center;
  width: 400px;
}

.inputSection {
  padding: 30px 0;

}
